version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:80"
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db.esddptmipsmgaoebzujl.supabase.co:5432/${DB_NAME}
      - SECRET_KEY=${SECRET_KEY}
    restart: unless-stopped